{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li class="cv-publication" itemscope itemtype="http://schema.org/CreativeWork">
  <h3 class="cv-publication__title" itemprop="headline">
    {% if post.link %}
      <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
    {% else %}
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    {% endif %}
  </h3>
  {% if post.authors %}<p class="cv-publication__authors">{{ post.authors }}</p>{% endif %}
  {% if post.venue %}<p class="cv-publication__venue" itemprop="description">{{ post.venue }}, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>{% endif %}
</li>
